<!-- <div class="bg">
    <h1>This is the students dashboard</h1>
    <div class="hr-1"></div>
</div> -->
<div class="student-main">
    <section class="Notes-list-student">

        <h2>Notes List</h2>
        <div class="hr"></div>
        <div class="notesList-student">
            <% notes.forEach(note=> { %>
                <% let cDate=note.createdAt %>
                    <% const monthNames=[ "Jan" , "Feb" , "March" , "April" , "May" , "June" , "July" , "Aug" , "Sep"
                        , "Oct" , "Nov" , "Dec" ]; %>
                        <% let currentDate=` ${cDate.getDate()} ${monthNames[cDate.getMonth()]}, ${cDate.getFullYear()}
                            ` %>
                            <div class="notes">
                                <div class="head">
                                    <h2 class="notes-title">
                                        <%= note.title %>
                                    </h2>
                                    <h2 class="notes-title">Created At: <%= currentDate %>
                                    </h2>
                                </div>
                                <div class="hr"></div>
                                <p class="notes-content">
                                    <%= note.content %>
                                </p>
                                <a href='/dashboard/notes/<%= note.id %>'>Read more</a>
                            </div>
                            <% }); %>
        </div>
    </section>
    <section class="announcement-list-student">

        <h2>Announcements</h2>
        <div class="hr"></div>
        <div class="announcementList">
            <% announcements.forEach(announcement=> { %>
                <% let cDate=announcement.createdAt %>
                    <% const monthNames=[ "Jan" , "Feb" , "March" , "April" , "May" , "June" , "July" , "Aug" , "Sep"
                        , "Oct" , "Nov" , "Dec" ]; %>
                        <% let currentDate=` ${cDate.getDate()} ${monthNames[cDate.getMonth()]}, ${cDate.getFullYear()}
                            ` %>
                            <div class="notes">
                                <div class="head">
                                    <h2 class="notes-title">
                                        <%= announcement.title %>
                                    </h2>
                                    <h2 class="notes-title">Created At: <%= currentDate %>
                                    </h2>
                                </div>
                                <div class="hr"></div>
                                <p class="notes-content">
                                    <%= announcement.content %>
                                </p>
                            </div>
                            <% }); %>
        </div>
    </section>
</div>
